
<nav>
  <a href="{{ site.url }}" class="red-highlight strong"><em>{{ site.title }}</em></a>
  <!-- {% for page in site.pages %}
    {% unless page.exclude %}
        <a class="page-link" href="{{ page.url | prepend: site.baseurl }}" aria-label="{{ page.title }}">
            {{ page.title }}
        </a>
    {% endunless %}
  {% endfor %} -->
  <div class="nav-links">
    <a href="/branding" class="branding-nav">Branding</a>
    <a href="/design" class="design-nav">Design</a>
    <a href="/sales" class="sales-nav">Sales</a>
    <a href="/about" class="about-nav">About</a>
    <a href="https://mailchi.mp/1269f76fb847/blog_signup" class="updates-nav">Updates</a>
  </div>
</nav>
