<div class="scroll-container">
  <div class="scroll-text">
    <p>Latest Essay: <a href="/fighting-entropy">Why We Should Create.</a></p>
    <p>Latest Essay: <a href="/fighting-entropy">Why We Should Create.</a></p>
    <p>Latest Essay: <a href="/fighting-entropy">Why We Should Create.</a></p>
    <p>Latest Essay: <a href="/fighting-entropy">Why We Should Create.</a></p>
    <p>Latest Essay: <a href="/fighting-entropy">Why We Should Create.</a></p>
    <p>Latest Essay: <a href="/fighting-entropy">Why We Should Create.</a></p>
    <p>Latest Essay: <a href="/fighting-entropy">Why We Should Create.</a></p>
    <p>Latest Essay: <a href="/fighting-entropy">Why We Should Create.</a></p>
    <p>Latest Essay: <a href="/fighting-entropy">Why We Should Create.</a></p>
    <p>Latest Essay: <a href="/fighting-entropy">Why We Should Create.</a></p>
    <p>Latest Essay: <a href="/fighting-entropy">Why We Should Create.</a></p>
    <p>Latest Essay: <a href="/fighting-entropy">Why We Should Create.</a></p>
    <p>Latest Essay: <a href="/fighting-entropy">Why We Should Create.</a></p>
    <p>Latest Essay: <a href="/fighting-entropy">Why We Should Create.</a></p>
  </div>
</div>
<nav>
  <a href="{{ site.url }}" class="red-highlight strong">{{ site.title }}</a>
  <!-- {% for page in site.pages %}
    {% unless page.exclude %}
        <a class="page-link" href="{{ page.url | prepend: site.baseurl }}" aria-label="{{ page.title }}">
            {{ page.title }}
        </a>
    {% endunless %}
  {% endfor %} -->
  <div class="nav-links">
    <a href="/about">About</a>
    <a href="https://mailchi.mp/1269f76fb847/blog_signup" class="updates-nav" target="blank">Updates</a>
    <a href="/pictures">Image Library</a>
  </div>
</nav>
