/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	/* list-style: none; */
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Globally */

:root {
    --sans-serif-font: 'Untitled Sans', sans-serif;
		--serif-font: 'Source Serif', serif;
		--mono-font: 'Source Code Pro', monospace;
}

img[src*='#center'] {
    display: block;
    margin: auto;
}

/* latin-ext */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7GxKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfChc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Source Code Pro Regular'), local('SourceCodePro-Regular'), url(https://fonts.gstatic.com/s/sourcecodepro/v11/HI_SiYsKILxRpg3hIP6sJ7fM7PqlPevWnsUnxg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "Untitled Sans";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("/assets/fonts/untitled-sans-web-regular.eot");
	src: url("/assets/fonts/untitled-sans-web-regular.woff");
	src: url("/assets/fonts/untitled-sans-web-regular.woff2") format("woff2"),
}

@font-face {
	font-family: "Untitled Sans";
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url("/assets/fonts/untitled-sans-web-regular-italic.eot");
	src: url("/assets/fonts/untitled-sans-web-regular-italic.woff");
	src: url("/assets/fonts/untitled-sans-web-regular-italic.woff2") format("woff2");
}

@font-face {
	font-family: "Untitled Sans";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("/assets/fonts/untitled-sans-web-medium.eot");
	src: url("/assets/fonts/untitled-sans-web-medium.woff");
	src: url("/assets/fonts/untitled-sans-web-medium.woff2") format("woff2");
}


/* Each state */
a {
  text-decoration: none;
	color: #333;
}

a:visited {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
  color:#333;
}

a:active {
  text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: #9B2335;
	transition: .25s all ease-in-out;
}

img {
	image-orientation: from-image;
	width: 100%;
}

/* Mother Code */

/* Mobile */

html {
  padding: 0 25px;
}

body {
	height: 100vh;
}

footer {
	font-family: var(--sans-serif-font);
	margin-top: 60px;
}

h1 {
	font-family: var(--sans-serif-font);
  color: #333;
	font-weight: 500;
	font-size: 22px;
	line-height: 1.15;
	margin-bottom: 1rem;
}

h2 {
	font-family: var(--sans-serif-font);
	font-size: 18px;
	font-weight: 500;
	margin-bottom: .5rem;
	line-height: 1.2;
}

h3 {
	font-family: var(--sans-serif-font);
	font-size: 16px;
	font-weight: 500;
	line-height: 1.2;
	margin-bottom: 1rem;
}

p {
	font-family: var(--sans-serif-font);
	color: #333;
	opacity: .98;
	font-size: 14px;
	margin-bottom: 1rem;
	line-height: 1.5;
}

a {
	font-family: var(--sans-serif-font);
	color: color: #9B2335;
}

blockquote {
	font-style: italic;
	padding-left: 20px;
	margin-top: 2rem;
	margin-bottom: 2rem;
	border-left: 2px solid #333;
}

ol ,
ul {
	font-family: var(--sans-serif-font);
	margin-left: 1rem;
}

hr {
	color: #e8e8e8;
	margin-bottom: 20px;
}

sub {
	color: #4d4d4d;
	font-size: 12px;
	font-family: var(--mono-font);
	word-spacing: -3px;
	margin-right: 20px;
}

nav {
  border-bottom: 1px solid #333;
  padding: 60px 0 40px 0;
	margin-bottom: 60px;
	font-size: 14px;
	font-family: var(--sans-serif-font);
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.strong {
	font-weight: 500 !important;
}

.invertedp {
	color: #ffffff !important;
}

.bodyinverted {
	background-color: #121212;
}

.red-highlight {
	color: #9B2335 !important;
}

.maroon-highlight {
	color: #823843;
}

.red-box-shadow {
	box-shadow: 20px 20px #823843;
}

.gray-box-shadow {
	box-shadow: 10px 10px #4d4d4d;
}

.invertedhometext {
	border-bottom: 1px solid #ffffff !important;
}

.name {
	padding-top: 20px;
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	letter-spacing: -.2px;
	font-family: var(--sans-serif-font);
}

.nametoggle {
	cursor: pointer;
}

nav .page-link {
	display: block;
	letter-spacing: -.2px;
  margin-bottom: 20px;
}

/* Home Page */

.home-header {
	margin-bottom: 60px;
}

.recent-posts {
	margin-bottom: 40px;
	color: #505050;
	font-size: 14px;
	letter-spacing: .3px;
}

.paginator {
	margin-top: 60px;
	font-size: 14px;
	font-family: var(--sans-serif-font);
	color: #505050;
	letter-spacing: .3px;
}

.loop-posts {
	margin-bottom: 2rem;
}

/* Blog Post */

.post-summary h1 {
	font-family: var(--sans-serif-font);
	font-size: 30px;
	margin-top: 2rem;
}

.post-body h2 {
	font-size: 22px;
	margin-top: 1.5rem;
}

.post-body h3 {
	font-size: 18px;
	margin-top: 1.5rem;
}

.post-body p {
	font-size: 15px;
	line-height: 1.4;
}

.post-summary img {
	grid-column: 1/10;
	grid-row: 1/2;
	margin-bottom: .5rem;
}

.post-summary sub {
	font-size: 12px;
	text-align: center;
}

/* About Me */

.about-image {
	margin-bottom: 2rem;
}

/* Categories */

.categories {
	margin-top: 40px;
}

.categories img {
	margin-bottom: 1rem;
}

/* About Me */
.about-text h3 {
	font-family: var(--sans-serif-font);
	margin-bottom: 3rem;
}

.about-text p {
	font-family: var(--sans-serif-font);
}

/* Zibaldone */

.zibaldone-layout {
	margin-top: 40px;
}

/* Travel */

.travel a > div {
	display: none;
}

.travel h1 {
	font-size: 48px;
	text-transform: uppercase;
	margin-bottom: 0px;
  line-height: 1.2;
}

/* China */

.china {
	display: none;
}

.china-container {
	grid-column: 4/-1;
	margin-top: 40px;
}

.chinese-characters {
	font-family: 'Noto Sans SC', sans-serif;
}

@media only screen and (min-width: 768px){

html {
	padding: 0px;
}

body {
	display: grid;
	grid-template-columns: repeat(12,1fr);
}

.name {
	grid-column: 1/14;
	grid-row: 1/2;
	padding-left: 25px;
}

nav {
	grid-column: 1/4;
	grid-row: 2/4;
	padding-top: 120px;
	margin-bottom: 0px;
	border-bottom: none !important;
	padding-left: 25px;
}

.about-nav {
	padding-right: 25px;
}

footer {
	grid-column: 1/-1;
	grid-row: 4/5;
	grid-column-start: -1;
	margin-top: 80px;
	padding-right: 25px;
}

.invertedhometext {
	border-bottom: none !important;
}

.page-layout ,
.postlayout {
	grid-column: 3/14;
	grid-row: 2/3;
	padding-top: 60px;
	display: grid;
	grid-template-columns: repeat(12,1fr);
	padding-left: 2rem;
}

/*  Home */
.home-header {
	grid-column: 1/6;
	grid-row: 1/2;
	border-right: 2px solid black;
}

.home-pagebody {
	grid-column: 7/12;
}

/* Blog Post */

.blog-post-layout {
	grid-column: 5/13;
	padding-top: 60px;
}

.post-summary {
	display: grid;
	grid-template-columns: repeat(12,1fr);
}

.post-summary {
	grid-column: 1/-1;
	grid-row: 1/2;
	display: grid;
	grid-template-columns: repeat(12,1fr);
}

.post-summary img {
	grid-column: 1/10;
	grid-row: 1/2;
}

.post-summary h1 {
	margin-bottom: 2rem;
	grid-column: 1/-2;
	grid-row: 2/3;
}

.post-summary sub {
	grid-column: 10/-1;
	grid-row: 1/2;
	padding-left: 10px;
	font-size: 12px;
	margin-right: 0px;
	align-self: center;
}

.post-body {
	grid-column: 1/-1;
	grid-row: 2/3;
}

.post-body img {
	width: 60%;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

/* About Me */

.about-image {
	grid-column: 1/11;
	margin-bottom: 4rem;
	margin-left: 40px;
}

.about-text {
	grid-column: 1/11;
	margin-left: 40px;
}

/* Categories */

.categories-container {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-column-gap: 2rem;
}

.categories-container h2 {
	grid-column: 1/-1;
	grid-row: 1/2;
}

.categories {
	grid-row: 2/3;
}

/* Zibaldone */

.zibaldone-explanation {
	grid-column: 1/7;
	grid-row: 1/2;
}

.zibaldone-layout {
	grid-column: 1/7;
	grid-row: 3/4;
}

/* Travel */

.travel {
	grid-column: 3/14;
	grid-row: 2/3;
	margin-top: 60px;
}

}

@media only screen and (min-width: 1024px){

.about-image {
	grid-column: 1/7;
	margin-bottom: 0px;
	margin-left: 0px;
}

.about-text {
	grid-column: 7/12;
	padding-left: 4rem;
	margin-left: 0px;
}


}

@media only screen and (min-width: 1366px) {

nav {
	grid-column: 1/2;
	font-size: 16px;
}

h1 {
	font-size: 32px;
	line-height: 1.25;
}

h2 {
	font-size: 20px;
	line-height: 1.4;
}

h3 {
	font-size: 18px;
	line-height: 1.2;
}

p {
	font-size: 15px;
	line-height: 1.4;
}

ol ,
ul {
	margin-left: 2rem;
}

sub {
	font-size: 12.5px;
}

.name {
	font-size: 16px;
	padding-top: 30px;
}

.gray-box-shadow {
    box-shadow: 20px 20px #4d4d4d;
}

.page-layout {
	padding-left: 0px;
}

/* Home */

.home-header {
	padding-left: 0rem;
	padding-right: 3rem;
}

.loop-posts {
	margin-bottom: 4rem;
}

/* Blog Post */

.blog-post-layout {
	grid-column: 4/12;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

.post-summary h1 {
	font-size: 32px;
}

.post-body h2 {
	font-size: 22px;
	margin-top: 2rem;
}

.post-body h3 {
	font-size: 18px;
	margin-top: 2rem;
}

.post-body p {
	font-size: 17px;
	line-height: 1.3;
}

/* About Me */

/* Travel */

.travel h1 {
	font-size: 102px;
	letter-spacing: -2px;
}

.travel a:hover >div {
	display: block;
}

.travel img {
	position: absolute;
	top: 16%;
	right: 0px;
}

.travel-image-one {
	width: 25%;
}

.travel-image-two {
	width: 25%;
}

.travel-image-three {
	width: 33%;
}

.travel-image-four {
	width: 30%;
}

/* China */

.china-container {
	grid-column: 3/14;
	margin-top: 30px;
}

.mobile-unfriendly {
	display: none;
}

.china {
	display: block;
	font-family: var(--sans-serif-font);
	position: relative;
}

.china-navigation {
	/* position: sticky; */
	top: 0;
	border-bottom: 2px solid #333;
	padding-bottom: 30px;
	margin-bottom: 40px;
	padding-top: 10px;
	z-index: 999;
}

.china-body {
	z-index: 1;
}

.china-links h2 {
	display: inline-block;
	padding-right: 40px;
	font-size: 40px;
}

.china-body h1 {
	line-height: 1.2;
}

.china-regions {
	display: grid;
	grid-template-columns: repeat(12 ,1fr);
}

.china-regions h2 {
	grid-column: 1/-1;
	grid-row: 1/2;
	margin-bottom: 20px;
}

.china figcaption {
	font-size: 14px;
	line-height: 1.3;
	margin-top: 20px;
}

.china-regions .figure-1 {
	grid-column: 1/7;
	grid-row: 2/3;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-column-gap: 20px;
}

.china-regions .figure-2 {
	grid-column: 8/12;
	grid-row: 2/3;
}

.china-regions .figure-3 {
	grid-column: 1/10;
	grid-row: 3/4;
	top: -305px;
	position: relative;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-column-gap: 20px;
	align-items: end;
}

.china-regions .figure-4 {
	grid-column: 1/5;
	grid-row: 4/5;
	padding-right: 20px;
	top: -200px;
	position: relative;
}

.china-regions .figure-5 {
	grid-column: 5/9;
	grid-row: 4/5;
	padding-right: 20px;
	top: -200px;
	position: relative;
}

.china-regions .figure-6 {
	grid-column: 9/14;
	grid-row: 4/5;
	top: -200px;
	position: relative;
}

.figure-7 {
	position: relative;
	top: -100px;
	grid-column: 1/6;
	grid-row: 5/6;
}

.figure-7 .chinese-characters {
	top: 150px;
	position: relative;
	font-size: 100px;
}

.figure-8 {
	position: relative;
	top: -100px;
	padding-left: 40px;
	width: 90%;
	margin-left: auto;
	grid-column: 6/14;
	grid-row: 5/6;
}

.figure-9 {
	grid-column: 1/10;
	grid-row: 6/7;
}

.figure-10 {
	grid-column: 10/14;
	grid-row: 6/7;
	margin-left: 30px;
	margin-right: 40px;
}

.figure-10 .chinese-characters {
	position: relative;
	top: 40px;
	font-size: 70px;
	writing-mode: vertical-lr;
	text-orientation: upright;
}

.figure-11 {
	grid-column: 1/4;
	grid-row: 7/8;
	margin-right: 40px;
	position: relative;
	top: 100px;
}

.figure-12 {
	grid-column: 4/12;
	grid-row: 7/8;
	position: relative;
	top: 100px;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-column-gap: 20px;
}

.figure-13 {
	grid-column: 1/4;
	grid-row: 8/9;
	position: relative;
	top: 200px;
}

.figure-14 {
	grid-column: 5/14;
	grid-row: 8/9;
	position: relative;
	top: 250px;
}

.figure-14 figcaption {
	width: 40%;
}

.figure-15 {
	grid-column: 1/9;
	grid-row: 9/10;
	position: relative;
	top: 300px;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-column-gap: 20px;
	padding-bottom: 40px;
}

.return-top {
	grid-column: 1/-1;
	grid-row: 10/11;
	position: relative;
	top: 300px;
	margin-bottom: 40px;
}

.active-region {
	color: #9B2335;
}

}

@media only screen and (min-width: 1600px){

html {
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
}


}
