/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	/* list-style: none; */
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Globally */

:root {
    --sans-serif-font: 'Untitled Sans', sans-serif;
		--serif-font: 'Source Serif', serif;
		--mono-font: 'Source Code Pro', monospace;
}

img[src*='#center'] {
    display: block;
    margin: auto;
}

/* latin-ext */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7GxKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfChc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Source Code Pro Regular'), local('SourceCodePro-Regular'), url(https://fonts.gstatic.com/s/sourcecodepro/v11/HI_SiYsKILxRpg3hIP6sJ7fM7PqlPevWnsUnxg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "Untitled Sans";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("/assets/fonts/untitled-sans-web-regular.eot");
	src: url("/assets/fonts/untitled-sans-web-regular.woff");
	src: url("/assets/fonts/untitled-sans-web-regular.woff2") format("woff2"),
}

@font-face {
	font-family: "Untitled Sans";
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url("/assets/fonts/untitled-sans-web-regular-italic.eot");
	src: url("/assets/fonts/untitled-sans-web-regular-italic.woff");
	src: url("/assets/fonts/untitled-sans-web-regular-italic.woff2") format("woff2");
}

@font-face {
	font-family: "Untitled Sans";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("/assets/fonts/untitled-sans-web-medium.eot");
	src: url("/assets/fonts/untitled-sans-web-medium.woff");
	src: url("/assets/fonts/untitled-sans-web-medium.woff2") format("woff2");
}


/* Each state */
a {
  text-decoration: none;
	color: #333;
}

a:visited {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
  color:#333;
}

a:active {
  text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: #9B2335;
	transition: .25s all ease-in-out;
}

img {
	image-orientation: from-image;
	width: 100%;
}

/* Mother Code */

/* Mobile */

html {
  padding: 0 25px;
	font-family: var(--sans-serif-font);
}

body {

}

footer {
	font-family: var(--sans-serif-font);
	margin-top: 60px;
}

h1 {
	font-family: var(--sans-serif-font);
  color: #333;
	font-weight: 500;
	font-size: 22px;
	line-height: 1.15;
	margin-bottom: 1rem;
}

h2 {
	font-family: var(--sans-serif-font);
	font-size: 18px;
	font-weight: 500;
	margin-bottom: .5rem;
	line-height: 1.2;
}

h3 {
	font-family: var(--sans-serif-font);
	font-size: 16px;
	font-weight: 500;
	line-height: 1.2;
	margin-bottom: 1rem;
}

p {
	font-family: var(--sans-serif-font);
	color: #333;
	opacity: .98;
	font-size: 14px;
	margin-bottom: 1rem;
	line-height: 1.5;
}

a {
	font-family: var(--sans-serif-font);
}

blockquote {
	font-style: italic;
	padding-left: 20px;
	margin-top: 2rem;
	margin-bottom: 2rem;
	border-left: 2px solid #333;
}

ol ,
ul {
	font-family: var(--sans-serif-font);
	margin-left: 1rem;
}

hr {
	color: #e8e8e8;
	margin-bottom: 20px;
}

sub {
	font-size: 12px;
	font-style: italic;
}

nav {
  padding: 40px 0;
	margin-bottom: 40px;
	font-size: 14px;
}

.strong {
	font-weight: 500 !important;
}

nav a {
	margin-right: 1rem;
	text-transform: uppercase;
	font-weight: 500;
}

/* posts */

.post-summary img {
	margin-bottom: 10px;
}

.post-summary h1 ,
.post-body h2 ,
.post-body h3 {
	text-transform: uppercase;
}

.post-summary h1 {
	font-size: 28px;
	margin-bottom: 60px;
}

.post-summary p {
	margin-bottom: 60px;
}

.post-body h2 ,
.post-body h3 {
	margin-top: 60px;
}



@media only screen and (min-width: 768px){

html {
	padding: 0px;
}

body {
	display: grid;
	grid-template-columns: repeat(12,1fr);
}

}

@media only screen and (min-width: 1024px){



}

@media only screen and (min-width: 1366px) {


}

@media only screen and (min-width: 1600px){

html {
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
}


}
