---
layout: "wrapper"
---
<section class="about-layout">
  <div class="about-text">
    <h3>Hi, I'm James, and I solve open ended problems.</h3>
    <p>Open ended problems are found wherever an equation includes people. And although people sometimes make things complicated and annoying, we also make things fun. It's why I spend my time learning about and practicing sales, negotiation, branding, marketing, and business. These are people problems, and those are the ones I want to solve.</p>
    <p>This blog is a reflection of the things I'm reading and thinking about. Hopefully it teaches you something too. Feel free to email me about anything at all!</p>
  </div>
  <div class="about-contact">
    <p><em>Email: jazenwong@gmail.com</em></p>
    <p><em>Linkedin: www.linkedin.com/in/jazenwong</em></p>
    <p><em>Instagram: jwazen</em></p>
  </div>
</section>
