---
layout: "wrapper"
---
<section class="about-layout">
  <div class="about-text">
    <h3>I'm James, and I enjoy solving open ended problems.</h3>
    <p>I enjoying solving problems which have many possible solutions or none at all. These types of problems are found wherever your equation includes people. People make things complicated and annoying, but also fun. It's why I spend my time learning about sales, negotiation, branding, marketing, and business. These are all problems that are not reductive in nature and are open to interpretation.</p>
    <p>This blog is a reflection of the things I'm reading and thinking about. Hopefully it teaches you something too. Feel free to email me about anything at all!</p>
  </div>
  <div class="about-contact">
    <p><em>Email: jazenwong@gmail.com</em></p>
    <p><em>Linkedin: www.linkedin.com/in/jazenwong</em></p>
    <p><em>Instagram: jwazen</em></p>
  </div>
</section>
