---
layout: "wrapper"
---
<section class="about-layout">
  <div class="about-text">
    <h3>I do sales, branding, and marketing for an international logistics company and my blog explores concepts and ideas about design philosophy, business, and everything in-between.</h3>
    <p>My first professional experience with marketing was when I suggested to my company that I could improve the landing page they were using at the time. I quickly learned that a lot went into building a good landing page, such as taking into account the marketing, design, copywriting, and sales concerns. You first had to understand who you were marketing to. You had to understand their immediate desires, where they were in the sales funnel, and what would get them to convert. Then with those inputs, you had to design a landing page from the size of the text to the placement of images. Then you had to make a process for processing the lead once they had converted.</p>
    <p>As I continued to work on the revenue building side of my company, I started to understand that brand, design, marketing and sales are all interconnected. Along the process, I just started having more and more questions. This blog is an attempt to ask and answer those questions.
  </div>
  <div class="about-contact">
    <p class="red-highlight"><em>Email: jazenwong@gmail.com</em></p>
    <p class="red-highlight"><em>Linkedin: www.linkedin.com/in/jazenwong</em></p>
    <p class="red-highlight"><em>Instagram: jwazen</em></p>
  </div>
</section>
