---
layout: "wrapper"
---
<section class="china-container">
  <h2 class="mobile-unfriendly">There are too many images to show on mobile :(. It would scroll forever, so yah I only made this for computers.</h2>
  <div class="china">
    <div class="china-navigation" id="china-navigation">
      <div class="china-links"><h2><a href="/china-chongqing">CHONG QING 重庆</a></h2><h2><a href="/china-yunnan">YUNNAN 云南</a></h2><h2><a href="/china-guangdong">GUANGDONG 广东</a></h2><h2><a href="/china-jiu-zhai-gou">JIU ZHAI GOU 九寨沟</a></h2></div>
      <div class="china-links"><h2><a href="/china-inner-mongolia" class="active-region">INNER MONGOLIA 内蒙古</a></h2><h2><a href="/china-chengdu">CHENGDU 成都</a></h2></div>
    </div>
    <div class="china-body">
      <div class="china-regions">
        <h2 id="chongqing">INNER MONGOLIA 内蒙古</h2>
        <h1>UNDER CONSTRUCTION</h1>
        <h1 class="return-top"><a href="#china-navigation">GO TO THE TOP</a></h1>
      </div>
    </div>
  </div>
  {% include lazyload.html %}
</section>
