---
layout: "wrapper"
---
<section class="china-container">
  <h2 class="mobile-unfriendly">There are too many images to show on mobile :(. It would scroll forever, so yah I only made this for computers.</h2>
  <div class="china">
    <div class="china-navigation">
      <div class="china-links"><h2><a href="#">CHONG QING 重庆</a></h2><h2><a href="#">YUNNAN 云南</a></h2><h2><a href="#">GUANGDONG 广东</a></h2><h2><a href="#">JIU ZHAI GOU 九寨沟</a></h2></div>
      <div class="china-links"><h2><a href="#">INNER MONGOLIA 内蒙古</a></h2><h2><a href="#">CHENGDU 成都</a></h2></div>
    </div>
    <div class="china-body">
      <div class="china-regions">
        <h2>CHONG QING 重庆</h2>
        <figure class="figure-1">
          <img src="/assets/travelimages/china/chongqing/baruch_boys.gif">
          <figcaption>We just got off a two hour train ride from Chengdu to Chongqing. I usually don't take selfies with others but I'm happy that I did.</figcaption>
        </figure>
        <figure class="figure-2">
          <img src="/assets/travelimages/china/chongqing/western_food.jpg">
          <figcaption>I remember the first dish I had was western food... a French friend that I made in Chengdu had recommended this place. It wasn't bad at all.</figcaption>
        </figure>
        <figure class="figure-3">
          <img src="/assets/travelimages/china/chongqing/museum.jpg">
          <figcaption>Our first stop after getting food was this museum. I thought it was pretty cool.</figcaption>
        </figure>
        <figure class="figure-4">
          <img src="/assets/travelimages/china/chongqing/circle_art.jpg">
          <figcaption>In the city somewhere, there was a temple. With cool art.</figcaption>
        </figure>
        <figure class="figure-5">
          <img src="/assets/travelimages/china/chongqing/gate.jpg">
          <figcaption>And a cool gate.</figcaption>
        </figure>
        <figure class="figure-6">
          <img src="/assets/travelimages/china/chongqing/buddha.jpg">
          <figcaption>And a cool Buddha.</figcaption>
        </figure>
        <h1 class="figure-7">Then, we climbed (we may have taken a taxi) a mountain to see the temples and "skyline." <br /><span class="chinese-characters">男孩的厕所 异常美丽</span></h1>
        <figure class="figure-8">
          <img src="/assets/travelimages/china/chongqing/bathroom.jpg">
          <figcaption>Before we reached the top, we saw this dope bathroom.</figcaption>
        </figure>
        <figure class="figure-8">
          <img src="/assets/travelimages/china/chongqing/bathroom.jpg">
          <figcaption>Before we reached the top, we saw this dope bathroom.</figcaption>
        </figure>
        <figure class="figure-9">
          <img src="/assets/travelimages/china/chongqing/skyline.jpg">
        </figure>
        <figure class="figure-10">
          <h1>The fog was really bad. But still, it was worth seeing. <br /><span class="chinese-characters">环境污染<br />破坏自然生态</span></h1>
        </figure>
        <figure class="figure-11">
          <img src="/assets/travelimages/china/chongqing/jamel.jpg">
        </figure>
        <figure class="figure-12">
          <img src="/assets/travelimages/china/chongqing/prayer.jpg">
          <figcaption>We spent the time up here just exploring the temple and looking at the city. It was pretty incredible to us that just a few miles away, there was blue sky. All the pollution stayed in the city center.</figcaption>
        </figure>
        <figure class="figure-13">
          <h1>HIGHLIGHTS OF CHONG QING</h1>
        </figure>
        <figure class="figure-14">
          <img src="/assets/travelimages/china/chongqing/architecture.jpg">
          <figcaption>This was an interesting place with a bunch of markets. I don't remember what it was called or where it was. If anyone knows, please tell me.</figcaption>
        </figure>
        <figure class="figure-15">
          <img src="/assets/travelimages/china/chongqing/child.jpg">
          <figcaption>We were strolling around the city and a girl chasing a butterfly knocked into me. I picked up her toy and notice she had really colorful eyes, which is rare for an Asian. So I took her picture and talked to her mom for a while.</figcaption>
        </figure>
        <figure class="figure-16"><h2>YUNNAN 云南</h2></figure>
      </div>
    </div>
  </div>
  {% include lazyload.html %}
</section>
