---
layout: "wrapper"
---
<section class="homefeed">
  <div class="hometext">
    <h3>I do sales, branding, and marketing for an international logistics company, and my blog explores concepts and ideas about design, business, and everything in-between.</h3>
    <h3>Feel free to contact me at jazenwong@gmail.com</h3>
  </div>
  <div class="homeloop">
  {% for post in paginator.posts %}
    <div class="homeposts">
      <h1><a href="{{ site.baseurl }}{{ post.url }}" aria-label="{{ post.title }}">{{ post.title }}</a></h1>
      <p>{{ post.description }}</p>
      <sub>{{ post.date | date_to_long_string }}</sub>
    </div>
  {% endfor %}
  </div>

  <!-- Pagination links -->
  <div class="pagination">
    <span class="page_number ">
      Page: {{ paginator.page }} of {{ paginator.total_pages }} //
    </span>
    {% if paginator.previous_page %}
      <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous">
        Previous
      </a>
    {% else %}
      <span class="previous">Previous //</span>
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
      <span class="next "> Next</span>
    {% endif %}
  </div>

</section>
