---
layout: "wrapper"
---
<section class="home-layout">
  <div class="home-about">
    <p>Hi, I'm <a href="/about">James Wong</a>, born in HK, family from Malaysia, and raised in NYC. HMU @ jazenwong@gmail.com.</p>
  </div>
  <div class="home-essays">
    <div class="home-essays-container">
    <h1>Essays</h1>
    {% for post in categories.Essay %}
    {{ post.title }}
    {% endfor %}

    {% for post in site.categories.essay %}
      {% if post.url %}
        <div class="categories-post">
            <p><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></p>
            <sub>{{ post.date | date: "%-m/%-d/%y"}}</sub>
        </div>
      {% endif %}
    {% endfor %}
    </div>
  </div>
  <div class="home-pictures">
    <h1>2021–YEARLY PICTURES (3)</h1>
    <div class="home-pictures-thumb">
      <img src="/assets/homeimages/MilanChurch.jpeg">
      <p><em>Domo taken through darkened glass. (2017)</em></p>
    </div>
    <div class="home-pictures-thumb">
      <img src="/assets/homeimages/FloorArt.jpeg">
      <p><em>Artist in the UK. (2017)</em></p>
    </div>
    <div class="home-pictures-thumb">
      <img src="/assets/homeimages/PingPong.jpeg">
      <p><em>Ping Pong in the UK. (2017)</em></p>
    </div>
  </div>
</section>
