---
layout: "wrapper"
---
<section class="travel">
  <h1><a href="/china">China<div><img src="/assets/travelimages/china/chongqing/circle_art.jpg" class="travel-image-one"></div></a></h1>
  <h1><a href="#">Malaysia<div><img src="/assets/img/TheCoconutClubSingapore.jpeg" class="travel-image-two"></div></a></h1>
  <h1><a href="#">Singapore<div><img src="/assets/img/ZhongShanBookstore.jpeg" class="travel-image-three"></div></a></h1>
  <h1><a href="#">Romania<div><img src="/assets/img/ZhongShanStaircase.jpeg" class="travel-image-four"></div></a></h1>
  {% include lazyload.html %}
</section>
