<!-- Doctype HTML5 -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta itemprop="description" name="description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}" />
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:image" content="{{ site.url }}/thumbs/{{ page.image }}" />
    <meta property="og:site_name" content="WebJeda Blog">
    <meta property="article:publisher" content="http://www.facebook.com/webjeda" />
    <meta property="article:author" content="https://www.facebook.com/sharu725" />
    <meta property="article:published_time" content="{{ page.date }}" />
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="twitter:card" content="summary">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
    <meta name="robots" content="noindex, nofollow" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <link rel=preconnect href="https://www.google-analytics.com">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155207730-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-155207730-1');
    </script>
  </head>
  <body>

    {% include header.html %}

    {{ content }}

  </body>
  <footer>
    <p>James Wong © 2020</p>
  </footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script>
$('.nametoggle').click( function() {
    $("h1 , h2 , h3 , p , a").toggleClass("invertedp");
    $(".sub").toggleClass("invertedp");
} );
</script>

</html>
