---
layout: "wrapper"
---
<section class="page-layout zibaldone">
  <h2>{{ page.title }}</h2>
  <div class="zibaldone-explanation">
    <p><em>A place where I store and reflect on information I consume (books, videos, etc.)</em></p>
    <p>The posts under <em>"Reflections"</em> will be where I summarize and reflect on the content I consume.</p>
    <p>The insights and notes that I think are most valuable will be pulled from my Reflection posts and captured under <em>"Snippets,"</em> categorized into brand, sales, or design notes.</p>
  </div>
  <div class="homeposts zibaldone-layout">
    <div class="reflections">
      <h3>Reflections</h3>
      <a href="/alchemy">BOOK // ALCHEMY <em>by Rory Sutherland</em></a>
    </div>
  </div>
</section>
