---
layout: "wrapper"
---
<section class="pagelayout zibaldone">
  <h2>{{ page.title }}</h2>
  <div class="zibaldone-explanation">
    <p><em>A place where I store and reflect on information I consume (books, videos, etc.)</em></p>
    <p>The posts under "Reflections" will be where I summarize and reflect on the content I consume.</p>
    <p>My most valuable insights and notes will be pulled from my Reflection posts and captured under "Snippets," categorized into brand, sales, or design notes.</p>
  </div>
  <div class="homeposts zibaldone-layout">
    <div class="reflections">
      <h3>Reflections</h3>
      <a href="/alchemy">BOOK // ALCHEMY <em>by Rory Sutherland</em></a>
    </div>
    <div class="snippets">
      <h3>Snippets</h3>
        <a href="/brand-notes" class="brand-notes">Brand Notes</a>
        <a href="/sales-notes" class="sales-notes">Sales Notes</a>
        <a href="/design-notes" class="design-notes">Design Notes</a>
    </div>
  </div>
</section>
